body{
  margin: 0;
  padding: 0;
  background-color: black;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
h1{
  color: white;
  margin: 10px 0;
}
h2{
  color: white;
  margin: 0;
}

h3{
  color: white;
  margin: 0;
}

p{
  color: white;
  margin: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  margin: 0;
}

ul li{
  float: right;
}

a{
  text-decoration: none;
  color: white;
}

.topbar{
  background-color: #F8B400;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.textmenu li a{
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
  display: block;
  padding: 27px 20px;
  font-family: 'Patua One', cursive;
}

.textmenu li a:hover{
  color: white;
  background-color: #e8af17;
}
.textmenu li a:active{
  color: white;
  background-color: #e8af17;
}

.iconmenu li a{
  display: block;
  padding: 24px 15px;
}

.iconmenu li a:hover{
  background-color: #e8af17;
}
.iconmenu li a:active{
  background-color: #e8af17;
}
.iconmenu{
  margin-right: 10px;
  margin-left: 10px;
}
.icon{
  width: 25px;
  height: 25px;
}

.title{
  margin: 0;
  font-size: 2.4rem;
  width: 100px;
  float: left;
  color: #B20600;
  font-family: 'Bangers', cursive;
}

.logo{
  width: 130px;
  height: 80px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}
